/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
.jscsrc
.jshintrc
.editorconfig
test/coverage/
test/coverage/report-lcov/lcov-report/libs/index.html
test/coverage/report-lcovonly.txt
test/coverage/report-html/index.html
test/coverage/report-html/libs/LivePersonVirtualAssistantModule.js.html
test/coverage/report-html/libs/index.html
test/coverage/report-lcov/lcov.info
test/coverage/report-lcov/lcov-report/index.html
test/coverage/report-lcov/lcov-report/libs/LivePersonVirtualAssistantModule.js.html
