<div class="jumbotron">
  <h1>HSBCNet </h1>
  <p class="lead">
    landing page
  </p>
  <!-- <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="row marketing">
  <h4>Content Header</h4>
  <p>
    lorem ipsum
  </p>

</div>
<div id="slideout">
  <p class="btn btn-primary need-help vertical-text" id="need-help" ng-click="vm.togglePanel()">Need Help?</p>
  <form>
    <h4 class="display1">FAQ converstion goes here...</h4>

    <div class="faq-lines ">
      <ul class="list-group">
        <li class="list-group-item faq-chat-line">
          <b>Customer:</b> Hello</li>
        <li class="list-group-item faq-chat-line">
          <b>Virtual Assistant:</b> How can I help you?</li>
         <li class="list-group-item faq-chat-line alert-warning" ng-if="vm.customerAskedToughQuestion === true"> 
          <b>Customer:</b> I cannot login</li>
        <li class="list-group-item faq-chat-line" ng-if="vm.agentsAvailable === true">
          <b>Virtual Assistant:</b> Sorry I cannot answer that question for you...<br> would you like to speak with an agent? <BR>
          <p ng-click="vm.escalateToChat()"><strong><u>Yes</u></strong></p>
          <p>No</p>
        </li>
        <li class="list-group-item faq-chat-line" ng-if="vm.agentsAvailable === false">
          <b>Virtual Assistant:</b> Sorry I cannot answer that question for you...<BR>
          <p>(agents are offline so no escalate to chat option shown!)</p>
        </li>
      </ul>
      <button class="btn btn-warning" ng-click="vm.askToughQuestion()">Ask Tough Question</button>
      <HR>
    </div>

    <p id="button-container">
      <a id="lp-va-panel-button-online" href="#" class="btn btn-success lp-va-panel-button hide-lp-button" onclick="LivePersonVirtualAssistantModule.escalateToChat();">Click to chat</a>
      <a id="lp-va-panel-button-offline" href="#" class="btn btn-warning lp-va-panel-button hide-lp-button">All Agents are OFFLINE/BUSY</a>
    </p>
  </form>
</div>